{% extends "base.html" %}
    
{% block content %}    
    
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="https://zbc-answer-portal.vercel.app/">Zero Bugs Club</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Menu</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul><a href="./logout"><button class="btn btn-primary" type="button">Logout</button></a><span class="navbar-text actions"> </span>
            </div>
        </div>
    </nav>
    <section class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Tech Trivia Answer Portal</h2>
                {% if answer_wrong %}
                <p class="text-center">Your Answer was Wrong. Try again</p>
                {% else %}
                <p class="text-center">Enter the answer below and click submit to confirm your submission.</p>
                {% endif %}
            </div>
            <form class="d-flex justify-content-center flex-wrap" method="post" action = "/submit-answer">
                <div class="mb-3"><input class="form-control" type="text" name="answer" placeholder="Your Answer" /></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">Submit</button></div>
            </form>
        </div>
    </section>
 
{% endblock %}